body{
    font-family: "Lato", sans-serif;
    background-color:white;
    color: #737373;
    height:100%; 
    width:100%;
    font-size: 17px; 

    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
 
body.all-loaded {
    opacity: 1;
}
body a{
	cursor: pointer;
}

.facade{
	width: 45%;
	height: 100%;
    position:fixed;
    overflow-y: scroll;
	overflow-x: scroll;
    left: 0;
}
.facade::-webkit-scrollbar {
    display: none;
}
.facade {
    -ms-overflow-style: none;
}
.login_panel{
	margin-top: 80px;
	float: right;
    width:35%;
    height: auto;
}
.create_account_panel{
	margin-top: 80px;
	float: right;
    width:55%;
    height: auto;
}
.creating_account_panel{
	margin-top: 100px;
    width:55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#sha{
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myform{
	margin-left: 55px;
}
.hide {/*for JS hidden - displayed using 'select'*/
    display: none;
 }
.form_container{
	width: 80%;
	height: auto;;
	float: left;
	background-color: transparent;
}
/* Full-width input fields */
input[type=email],input[type=password],input[type=text]{
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 5px 0 22px 0;
  display:block;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
  border-radius: 5px;
}
select[id=select_item], input[id=DOB],input[type=date], textarea{
  width: 30%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
  font: 20px Arial, Helvetica, sans-serif;
  color: #737373;
  height: 50px;
  border-radius: 5px;
}
input[type=file]{
  width: auto;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font: 18px Arial, Helvetica, sans-serif;
  color: #737373;
  height: auto;
  border-radius: 5px;
}

textarea, input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, select[id=select_item]:focus,input[id=DOB]:focus, input[type=file]:focus, input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-left: 0;
  margin-bottom: 25px;
  width: 104%;
}

/* Set a style for the submit button */
.btn {
  background-color: #1C4966;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 107%;
  opacity: 0.9;
  font-size: 18px;
  border-radius: 30px;
  outline: none;
}

.btn:hover {
  opacity: 0.99999;

  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#back_btn{
  position: fixed;
  width: 110px;
  margin: -60px 0 0 30px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.navbar{
	background:#1C4966;
	height:85px;
	width:100%;
	margin: 0;
	position: fixed;
	top: 0;	
	left: 0;
}
footer{
	background:lightgrey;
	position: fixed;
	bottom: 0;	
	right: 0;
	float: right;
	border-radius: 60% 15px 15px 60%;

	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	-moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.datestamp{
	float: right;
	padding: 15px;
}
.class_name{
	right: 0;
	width: 95%;
	height: auto;
	background: white;
	position: fixed;
	background-color: transparent;
}
.list{
	list-style:none;
	text-align:right;
	
}
.list li{
	display:inline;
	
}

.list li a{
	text-decoration:none;
	color:white;
	line-height:50px;
	padding:20px;
	transition: 0.5s;
}
.list li a:hover{
	color: #5ca08e;
	transition: 0.5s;
}
h1,h2,h3,h4,h5,h6,label{
	color:#072F5F;
}
.li{
    display: block;
    padding: 15px 15px 15px 5px;
    margin-bottom: -1px;
    background-color: transparent; 
}
.li a{
	text-decoration: none;
	color: #737373;
	transition: 1s;
	font-weight: bold;
}
.li a:hover{
	color: #5ca08e;
	transition: 1s;
	text-decoration: underline;
}
#index_footer{
	font-size: 15px;
	position: fixed;
	bottom: 20px;
	right: 30px;
}
footer{
	text-align:center;
	color:white;
	line-height:30px;
	
}
.success{
	background:#5ca08e;
	color:white;
	padding: 7px 7px;
	height:30px;
	float:left;
	width: 83%;
	text-align:center;
	margin-bottom:-10px;
	border-radius: 5px;
	
}
.error{
	background:red;
	color:white;
	padding: 7px 7px;
	height:30px;
	float:left;
	width: 83%;
	text-align:center;
	margin-bottom:-10px;
	border-radius: 5px;
}
.sidebar{
	display: none;
	position: fixed;
	width:20%;
	height:100%;
	margin-top:30.5px;
	margin-right:30px;
	float:left;
	left: 0;
	background:#1C4966;
	overflow: scroll;
}
.sidebar ul{
	float: left;
	width: 80%;
	margin: 50px auto;
}
.sidebar ul a{
	color: white;
}
.content{
	float: right;
	width: 98%;
	margin-top:180px;
	height:100%;
	margin-right: 15px;
	overflow: scroll;
	background-color: white;
	
}
.profile img{
	vertical-align: middle;
	width: 80px; 
	height: auto;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.profile{
	margin-left: 20px;
}

/** create account */

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 5px;
  margin-top: 5px;
  width: 102.7%;
  border-radius: 5px;
}

#message p, #confirmMessage p{
  padding: 5px 55px;
  font-size: 16px;
}

#confirmMessage{
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 5px;
  margin-top: 5px;
  width: 102.7%;
  height: auto;
  border-radius: 5px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

th, td{
	width: 200px;
	padding: 10px 10px 10px 10px;
	border-collapse: collapse;
	border-spacing: 0px;
	border-style: none;
}

.table {
	border-top:#333 1px solid;
	border-bottom:#333 1px solid;
	width: 100%;
	margin-bottom: 50px;
}

.dateAndTime{
  	text-align: right;
  	display: block;
  	margin-bottom: 20px;

  }

.tbox{
	border:lightgrey 1px solid;
	border-radius: 15px;
	margin-left:auto;
	margin-right: auto;
	width: 97%;
	height: auto;
	background-color: #f5fcff;

}

.tbox table{
	border-collapse:collapse;
	
}

.cabox{
	border:#f5f5f5 1px solid;
	border-radius: 15px;
	background-color: white;
	margin-left:auto;
	margin-right: auto;
	height: auto;

	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	-moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr,td,th{
	padding:15px;
}

tr{
	background-color: #fefefe;
}
tr:hover{
	/*background-color: #dedede;*/
}
.assignment_link{
	text-decoration: none;
	color: black;
	transition: 1s;
	font-weight: bold;
	font-size: 20px;
}
.assignment_link:hover{
	color: #5ca08e;
	transition: 1s;
	text-decoration: underline;
}
.sidebar_dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 37.5px;
  margin-left: -10px;
  outline: none;

  
  position: fixed;
  display: inline-block;
}

.sidebar_dropbtn:hover, .dropbtn:focus {
  background-color: #5ca08e;
  transition: 3s;
}
.show {display: block;}